<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}">Library System</title>
    <style>
        /* Header Styles */
        header {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
        }
        .header-container h1 {
            font-size: 2em;
            margin: 0;
        }
    </style>
</head>
<body>
<header>
    <div class="header-container">
        <h1>Library Management System</h1>
    </div>
</header>
</body>
</html>
